<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
      <add name="mysql" connectionString="" providerName="MySql.Data.MySqlClient"/>
      <add name="postgres" connectionString="Host=localhost;Port=5432;Database=;Username=;Password=" providerName="Npgsql"/>
      <add name="sqlite" connectionString="" providerName="System.Data.SQLite"/>
      <add name="mssql" connectionString="" providerName="System.Data.SqlClient"/>
      <add name="mssqlce" connectionString="" providerName="System.Data.SqlServerCe.4.0"/>
    </connectionStrings>
</configuration>